{% extends 'base.html.twig' %}

{% block title %}{{ title }} Class{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <h1>{{ title }} Class</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $("#link-classes").addClass("active");
        });
    </script>
{% endblock %}